/* Estilos Globales de la Aplicación */
body {
  font-family: 'Rubik', sans-serif;
  background: #e9f2f7;
  margin: 0;
  padding: 0;
  color: #333;
}

h2 {
  margin-bottom: 15px;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

/* El tag <main> envuelve todo el contenido de la página debajo del Header */
main {
  flex-grow: 1; /* Ocupa el espacio vertical restante */
  width: 100%;
  display: flex; /* Ayuda a centrar los contenedores de página */
  flex-direction: column;
}

/* Clase genérica para los contenedores principales de cada página */
.home-container, 
.busqueda-container,
.carrito-container,
.checkout-container,
.confirmacion-container,
.auth-page-wrapper,
.panel-container,
.detalle-container,
.admin-container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  box-sizing: border-box;
}

